<div class="maltyst-confirmation-cnt">
    <p class="maltyst-confirmation-in-progress">
        <span class="maltystloader"></span> Confirmation in progress, please wait.
    </p>

    <!--Response area-->
    <div class="maltyst_result_msg maltysthide"></div>
</div>