<div class="maltyst-optin-cnt">
    <form class="maltyst-optin-frm" action="" method="post">
        <p>
            Dont miss a post. Enter your email below to subscribe to our newsletters:<br/>
            <input type="email" name="<?=$prefix;?>_email" value="" size="40" />
        </p>

        <!--Response area-->
        <div class="maltyst_result_msg maltysthide"></div>

        <!--Save button-->
        <p>
            <span class="maltystloader maltysthide"></span><input type="submit" name="<?=$prefix;?>_submit_btn" value="Send">
        </p>
    </form>
</div>